
main,.row {
    background-color: rgb(255, 239, 210);
}

img {
    width: auto;
    height: 85vh;
}
 main {
     padding: 5px;
 }

 main>form {
     padding: 20px;
 }
 footer {
     padding: 5px;
     color: white;
     text-align: center;
     background-color: rgb(54, 54, 54);
     height: 7vh;
 }

 .btnn {
     height: 35px;
     width: 90px;
     background-color: rgb(150, 0, 0);
     color: white;
     border-radius: 10px 0px 0px 10px;
     border: none;
 }

 .btnn:hover{
     background-color: rgb(120, 0, 0);
     margin: 3px;
 }

 .nav-link:hover {
     background-color: rgba(255, 0, 0, 0.267);
     border-radius: 10px;
     margin: 3px;
     transition: 200ms;
 }



 .navbar {
     gap: 20px;
 }

.nav-det {
    display: flex;
    gap: 10px;
}


 .navbar-brand>img {
     width: 300px;
     height: 40px;
 }

 .form-row,.form-group {
     color: whitesmoke;
 }

 .carousal-btn>a>button {
     padding: 10px 40px;
     background-color: rgb(224, 0, 0);
     border: none;
     color: whitesmoke;
     font-size: 15px;
     letter-spacing: 1px;
 }

 .carousal-btn>a>button:hover {
     background-color: rgb(51, 51, 51);
 }

 .carousal-content>h5 {
    font-size: 70px; 
    font-weight: 850;
    letter-spacing: 1px;
 }

 .carousal-content>p {
    font-weight: 700;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.473);
    padding: 10px 20px;
    letter-spacing: 1px;
 }

.image-list-small {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
    max-width: 1170px;
    padding: 0;
  }
  
  .image-list-small li {
    display: inline-block;
    width: 181px;
    margin: 0 12px 30px;
  }
  
  
  /* Photo */
  
  .image-list-small li > a {
    display: block;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 137px;
    margin: 0;
    padding: 0;
    border: 4px solid #ffffff;
    outline: 1px solid #d0d0d0;
    box-shadow: 0 2px 1px #DDD;
  }
  
  .image-list-small .details {
    margin-top: 13px;
  }
  
  
  /* Title */
  
  .image-list-small .details h3 {
    display: block;
    font-size: 12px;
    margin: 0 0 3px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .image-list-small .details h3 a {
    color: #303030;
    text-decoration: none;
  }
  
  .image-list-small .details .image-author {
    display: block;
    color: #717171;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
  }

  /* Dropdown Button */
.dropbtn {
    border: none;
    color: white;
    background: none;
    padding: 8px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    top: 45px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    border-radius: 10px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
  }

  .dropdown-content a:hover {
      text-decoration: none;
      color: brown;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(221, 221, 221);}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
      display: block;
    }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
      background-color: rgba(255, 0, 0, 0.267);
      margin: 3px;
      transition: 200ms;
      border-radius: 10px;
}